@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


header {
  background-color: #333;
  color:#333;
  padding: 5%;
  text-align: right;
}


body {
  background-color: #171717;
  font-family: "gotham", helvetica, verdana, sans-serif;
}


h1 {
  font-size: 48px;
  color: #FF9500;
  text-transform: capitalize;
  font-family: 'Source Code Pro';
}


h2 {
  font-family: georgia, times, serif;
  font-size: 36px;
  color:#FF9500;
  text-transform: capitalize;
  font-family: 'Source Code Pro';
}


h3 {
  font-family: georgia, times, serif;
  font-size: 24px;
  color:#FF9500;
  text-transform: capitalize;
}


nav {
  background-color: blanchedalmond;
}

nav a:link {
  background-color: blanchedalmond;
  color:#222;
  padding: 1% 2%;
  display:inline-block;
  text-decoration: none;
}

nav a:visited {
  color: #222;
}

nav a:hover {
  color: blanchedalmond;
  background-color: #333;
}
/* a class for the links */
nav a.active {
  color: blanchedalmond;
  background-color: #333;
}


section.right {
  background:#222;
  width: 33%;
  display:flex;
  align-items: flex-start;
  padding: 12px;
}

section.profile {
  background:#222;
  padding: 4px;
  display: flex;
}


p {
  font-size: 22px;
  line-height: 36px;
  color:#FFF7E0;
  padding: 12px;
  padding-bottom: 48px;
}


a:link {
  color:#FFFFFF;
  text-transform: uppercase;
  font-size: 36px;
  margin-right: 30px;
  text-transform: capitalize;
}


a:visited {
  color:beige;
}


a:hover {
  color:#C20000;
  text-decoration: underline;
transition: color .4s ease-in-out;
}


a:active {
  color:#333;
}


footer {
  padding: 2%;
  background-color: #333;
  color: #FF9500;
  font-size: 16px;
  font-family: georgia, times, serif;
  font-style: italic;

}


.container.big {
  width: 100%;
  max-width: 1500px;
  min-width: 1200px;
}


/* Cells */

  .\31 2u { width: 100% }
  .\31 1u { width: 91.6666666667% }
  .\31 0u { width: 83.3333333333% }
  .\39 u { width: 75% }
  .\38 u { width: 66.6666666667% }
  .\37 u { width: 58.3333333333% }
  .\36 u { width: 50% }
  .\35 u { width: 41.6666666667% }
  .\34 u { width: 33.3333333333% }
  .\33 u { width: 25% }
  .\32 u { width: 16.6666666667% }
  .\31 u { width: 8.3333333333% }
  .\-11u { margin-left: 91.6666666667% }
  .\-10u { margin-left: 83.3333333333% }
  .\-9u { margin-left: 75% }
  .\-8u { margin-left: 66.6666666667% }
  .\-7u { margin-left: 58.3333333333% }
  .\-6u { margin-left: 50% }
  .\-5u { margin-left: 41.6666666667% }



  .row > * {
    padding: 40px 0 0 40px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .row + .row > * {
    padding-top: 40px;
  }

  .row {
    margin-left: -40px;
  }



  #anim {
  	width:400px;
    height:400px;
  	display:block;
  	position:absolute;
  }

  #anim:hover {
  	animation: rotateimg 3.2s infinite linear;
  }


  @keyframes rotateimg {
  	0% {transform: rotate(-15deg);}
  	50% {transform: rotate(15deg);}
    100% {transform: rotate(-15deg);}
  }
